* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.titulo {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 25px 0px;
  text-shadow: 4px 4px 5px rgb(4, 220, 220);
}

.centrado {
  margin: 10% 0px;
  display: flex;
  place-content: center;
}

main img {
  width: 350px;
}

/* ===== DECORACION DE NAVBAR ====== */
.logo {
  width: 90px;
  margin-left: 50px;
}

.perfil {
  width: 30px;
}

.navbar a {
  color: white;
  text-decoration: underline;
}

/* ===== DECORACION DE LOGIN ====== */
.container__login {
  margin: 10%;
  padding: 50px;
  /* border: solid 2px white; */
  color: white;
  text-align: center;
}

/* ===== DECORACION DE FOOTER ====== */
.footer {
  color: white;
  margin: 10px auto;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.footer__icons {
  display: flex;
  place-content: center;
}

.footer__icons i {
  font-size: 1.4rem;
  margin: 5px 20px;
  transition: all .3s ease-in;
}

.footer__icons i:hover {
  color: rgb(166, 36, 36);
  transform: scale(1.3);
}

.footer__links a {
  text-decoration: none;
  color: grey;
  padding: 5px;
  font-size: 14px;
}

.footer__links a:hover {
  color: grey;
  text-decoration: underline;
}

.footer__copyright {
  font-size: 11px;
  color: grey;
}