* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.titulo {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 25px 0px;
  text-shadow: 4px 4px 5px rgb(4, 220, 220);
}

.centrado {
  margin: 10% 0px;
  display: flex;
  place-content: center;
}

main img {
  width: 350px;
}

/* ===== DECORACION DE NAVBAR ====== */
.logo {
  width: 90px;
  margin-left: 50px;
}

.perfil {
  width: 30px;
}

.navbar a {
  color: white;
  text-decoration: underline;
}